* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "poppins";
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* variabel Reusable */
:root {
  --marginAllContent: 20px 75px 20px 75px;
}

/* ================ Header Style Start ================   */

#header {
  padding: 5px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
  margin: 0;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: var(--marginAllContent);
  margin-top: 10px;
  border-radius: 20px;
  z-index: 9999;
}

#header h1 span {
  color: red;
}
.nav-container {
  display: flex;
  gap: 30px;
  list-style: none;
}
.header-contaier button {
  background-color: black;
  color: white;
}

#nav a {
  text-decoration: none;
  color: red;
  padding-bottom: 5px;
}

#nav a:hover {
  border-bottom: 2px red solid;
}

#header button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.hamburger-menu {
  display: none;
}

.btn-inside {
  display: none;
}
/* ================ Header Style End ================   */

/* ================ Main Container Style Start ================   */

.main-container {
  margin-top: 30px;
  /* padding: var(--marginAllContent); */
}
.container-pagination {
  width: 100%;
}
.container-pagination ul {
  list-style: none;
  justify-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
}

.container-pagination ul li a {
  text-decoration: none;
  color: black;
  transform: 0.3s;
  padding: 10px;
}
.container-pagination ul li #page-number:hover {
  background-color: red;
  border-radius: 5px;
  color: white;
}

.container-pagination ul li a svg {
  color: red;
  border-radius: 5px;
  margin: 0 20px;
}
/* ================ Main Container Style End ================   */

/* ================ Section 3 Container Style End ================   */

.section3 {
  /* border: 1px solid black; */
}

.container-sec3 {
  height: 550px;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.container-sec3 .container-img-cdn {
  width: 50%;
}

.container-sec3 .firts-cdn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.container-sec3 .second-cdn {
  position: relative;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1578586779319-8e4d302e9250?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
}
ainer-sec3 .second-cdn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* warna overlay hitam transparan */
  backdrop-filter: blur(4px); /* efek blur di belakang overlay */
  -webkit-backdrop-filter: blur(4px);
}

.container-sec3 .second-cdn h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-sec3 .firts-cdn .container-img1 {
  height: 55%;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  padding: 0;
}

.container-sec3 .firts-cdn .container-img2 {
  height: 45%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1598301257982-0cf014dabbcd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
}

.container-sec3 .firts-cdn .container-img2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* warna overlay hitam transparan */
  backdrop-filter: blur(4px); /* efek blur di belakang overlay */
  -webkit-backdrop-filter: blur(4px);
}

.container-sec3 .firts-cdn .container-img2 img {
  width: 100%;
  height: 100%;
}

.container-sec3 .firts-cdn .container-img2 .container-text {
  position: absolute;
  height: 88px;
  left: 20px;
  color: white;
}

.container-sec3 .firts-cdn .container-img2 .container-text h4 {
  font-weight: 500;
  margin: 0;
}

.container-sec3 .firts-cdn .container-img2 .container-text h3 {
  margin: 0;
  font-size: 40px;
}

.container-sec3 .container-img-cdn .container-img1,
.container-sec3 .container-img-cdn .container-img2 {
  position: relative;
}

.container-sec3 .firts-cdn .container-img1 .container-text {
  padding: 10px;
  margin: 10px 0;
  position: absolute;
  background-color: rgba(14, 11, 11, 0.77);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  height: 95%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 0;
}

.container-sec3 .firts-cdn .container-img1 img {
  width: 100%;
  margin-top: 0;
  height: 100%;
  border-radius: 10px;
}

.container-sec3 .firts-cdn .container-img1 .container-text svg {
  background-color: rgba(68, 61, 61, 0.654);
  padding: 5px;
  color: white;

  border-radius: 10px;
}

.container-sec3 .firts-cdn .container-img1 .container-text h4 {
  width: 350px;
  font-size: 20px;
  margin: 0;
  font-size: 30px;
  margin: 20px 0;
  color: white;
}

.container-sec3 .firts-cdn .container-img1 .container-text p {
  font-size: 10px;
  gap: 2;
  color: white;
}

.container-sec3 .firts-cdn .container-img1 .container-text button {
  display: flex;
  border: none;
  background-color: white;
  color: black;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
}

.container-sec3 .firts-cdn .container-img1 .container-text button p {
  color: black;
}

.container-sec3 .firts-cdn .container-img1 .container-text button svg {
  color: black;
  background-color: white;
  height: 20px;
}

/* ================ Section 3 Container Style End ================   */

/* ================ Footer Style Start ================   */

footer {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.container-cdn-footer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.watermark,
.watermark div {
  padding: 0px 10px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.content1,
.content2,
.content3,
.content4 {
  width: 40%;

  margin: 10px;
  padding: 10px;
}

.content2,
.content3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content2 p,
.content3 p,
.content4 p {
  font-weight: bold;
}

.content4 ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.content4 ul li {
  margin: 0;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: gray;
}

.content2 a,
.content3 a {
  text-decoration: none;
  color: white;
}

.content1 h1 span {
  color: red;
}

.content1 p {
  text-align: left;
}

/* ================ Footer Style End ================   */

/* ================ Home Style start ================   */
.hero-card-home .title {
  display: flex;
  width: 100%;

  padding: 10px;
}

.hero-card-home {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: var(--marginAllContent);
  flex-direction: column;
}

.hero-card-home .title h1 {
  width: 50%;
  font-size: 50px;
  font-weight: 600;
  padding: 10px 40px;
}

.hero-card-home .title .descriptions {
  text-align: justify;
  padding: 5px;
  width: 50%;

  display: flex;
  flex-direction: column;
  padding: 40px;
}

.hero-card-home .title .descriptions div {
  display: flex;

  gap: 10px;
  justify-content: left;
  align-items: center;
  color: red;
  text-decoration: none;
}

.hero-card-home .title .descriptions div a {
  text-decoration: none;
  color: red;
}

.hero-card-home .image-item {
  width: 100%;
  position: relative;
}

.image-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  backdrop-filter: blur(10px);
  pointer-events: none;
}

.hero-card-home .image-item img {
  border-radius: 50px;
  width: 100%;
}

/* SECTION 2 START */
.section-2 {
  margin-top: 100px;
  margin: var(--marginAllContent);
}

.card-container {
  display: flex;
  flex: 3 3;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
  padding: 9px;
}

.card {
  flex: 0 0 calc(33.333% - 10px);
  margin-bottom: 20px;
  position: relative;
}
.container-img-card {
  width: 100%;
}

.container-img-card h1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(10px); */
  color: white;
  font-size: 15px;
  padding: 5px 20px;
  left: 10px;
  border-radius: 20px;
  font-weight: 400;
}

.container-img-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.container-desc {
  padding: 10px;
  margin-top: 0;
}

.date p {
  color: gray;
}

.desc-hero-sec2 p {
  text-align: justify;
}

.container-desc p {
  text-align: justify;
  margin: 0;
}

.isi-post {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.container-desc h3 {
  margin-top: 0;
}
.cta-card {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.cta-card svg {
  background-color: red;
  border-radius: 50%;
  color: white;
}

/* SECTION 2 END */

/* ================ Home Style End ================   */

/* ================ Responsive ================   */
/* Ukuran mobile */
@media (max-width: 768px) {
  #header {
    flex-direction: flex;
    align-items: center;
    padding: 2px 10px 2px 10px;
    margin: 20px 15px 20px 15px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .nav-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    gap: 30px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    list-style: none;
    color: white;
    border-radius: 10px;
  }

  #nav a {
    color: white;
  }
  .btn-outside {
    display: none;
  }

  .btn-inside {
    display: block;
  }

  .nav-active {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  .section-2 {
    border: 1px solid black;
  }

  .card-container {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    padding: 9px;
  }

  .card {
    width: 350px;
  }
  .container-img-card {
    width: 100%;
  }

  .container-img-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }

  .container-desc {
    padding: 10px;
  }

  .container-desc p {
    text-align: justify;
  }
  .cta-card {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .cta-card svg {
    background-color: red;
    border-radius: 50%;
    color: white;
  }

  /* Main hero home section */
  .hero-card-home .title h1 {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .image-item {
    border-radius: 0;
  }

  .image-item img {
    border-radius: 0;
  }
  .hero-card-home .title {
    display: flex;
    flex-direction: column;
  }

  .hero-card-home .title .descriptions {
    font-size: 10px;
    width: 100%;
    margin-top: 0;
  }
  .hero-card-home .title .descriptions p {
    height: 100px;
    overflow: hidden;
    text-align: center;
  }
  .hero-card-home {
    /* margin: 90px 0; */
    width: 100%;
    margin: 0;
  }

  .hero-card-home .title .descriptions div svg {
    height: 20px;
  }

  .hero-card-home .title .descriptions div {
    justify-content: center;
  }

  .main-container {
    padding: 0;
    margin: 80px auto 20px auto;
    border: 1px solid black;
    width: 100%;
  }

  /* Section 2 */
  .section-2 {
    margin: 0;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .card {
    margin: 10px auto;
    width: 100%;
    margin: 20px 0;
  }

  .container-img-card img {
    border-radius: 0;
  }

  .container-sec3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .container-img-cdn {
    width: 100%;
    border: 1px solid black;
    height: 100%;
    margin: 0;
  }

  .desc-hero-sec2 {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
  }

  .desc-hero-sec2 h1 {
    font-size: 23px;
  }

  .desc-hero-sec2 p {
    font-size: 15px;
  }

  /* Section 3 Home Responsive */
  .container-sec3 .container-img-cdn {
    width: 100%;
    padding: 10px;
  }

  .container-sec3 .second-cdn {
    padding: 10px;
    border: 1px solid black;
  }

  /* Footer Responsive */

  footer .container-cdn-footer {
    flex-wrap: wrap;
  }

  .content-footer {
    width: 100%;
    margin: 0;
  }

  .watermark {
    font-size: 10px;
    margin-top: 20px;
  }
}
